.Display {
    background-color: white;
    color: black;
    position: relative;
    text-align: right;
    font-size: 3rem;
    width: auto;
    height: 100px;
    padding: 30px 0px 0px 0px;
    margin: 25px 15px 20px 15px;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    border-radius: 5px;
}

.Display::-webkit-scrollbar {
    height: 10px;
    background-color: gray;
}